<html>
    <head>
        <title>Python Training Program</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/asciinema/asciinema-player.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/reveal.js/css/reveal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/reveal.js/css/theme/serif.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/buefy/buefy.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    </head>
<body>
    <div class="reveal">
        <div class="slides">
            <section 
                data-background-image="{{ url_for('static', filename='img/new_header.PNG') }}" 
                data-background-size="180px" 
                data-background-position="top left">
                
                <div class="columns is-centered is-multiline is-mobile">
                    <div class="column is-three-quarters">
                        <img src="{{ url_for('static', filename='img/1024px-Python-logo-notext.svg.png')}}" width="100" style="border: 0px; shadow: 0;">
                        <p class="title">Python Training</p>
                        <p class="longtext mini">Use your arrow keys to navigate</p>
                    </div>
                    <div class="column has-text-centered is-centered">
                        <div class="container" style="display: flex; justify-content: center;">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <div class="tags has-addons is-bordered">
                                        <span class="tag is-white is-bordered">
                                            <a href="mailto:najeem.muhammed@gknaerospace.com">
                                                <i class="fa fa-envelope-o fa-fw"></i>
                                            </a>
                                        </span>
                                        <span class="tag is-warning is-bordered">
                                            <a href="https://github.com/najeem">
                                                <i class="fa fa-github fa-fw"></i>
                                            </a>
                                        </span>
                                        <span class="tag is-info is-bordered">
                                            Najeem Muhammed
                                        </span>
                                    </div>
                                </div>
                                <div class='control'>
                                    <div class="tags has-addons">
                                        <span class="tag is-white is-bordered">
                                            <a href="mailto:vinay.keerthi@gkndriveline.com">
                                                <i class="fa fa-envelope-o fa-fw"></i>
                                            </a>
                                        </span>
                                        <span class="tag is-warning is-bordered">
                                            <a href="https://github.com/vinay87">
                                                <i class="fa fa-github fa-fw"></i>
                                            </a>
                                        </span>
                                        <span class="tag is-info is-bordered">
                                            Vinay Keerthi
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section 
                data-background-image="{{ url_for('static', filename='img/new_header.PNG') }}" 
                data-background-size="180px" 
                data-background-position="top left">
                <section>
                    <p class="title">Welcome to the Python Training Course</p>
                    <div class="content">
                        <p>Python is a <span class="fragment highlight-red">general purpose programming language</span> that can allow you to do many things on a computer.</p>
                    </div>
                </section>
                <section>
                    <p>Python's powers are largely due to it's <span class="fragment highlight-blue">cross-compatability</span>, <span class="fragment highlight-green">readability</span>, and <span class="fragment highlight-red">elegance</span>. If you can write English, you can write Python code.</p>
                </section>
                <section>
                    <p class="longtext">Let's begin. Ensure you have downloaded and installed the <a href="https://anaconda.org">Anaconda</a> distribution on a computer you have access to. You <i>could</i> also do this with a vanilla version of Python from <a href="https://python.org">the Python website</a>, but we recommend using Anaconda so you will have access to all the packages that we will make use of in this tutorial.</p>
                    <p class="fragment fade-up longtext">Remember to add the folder to your Path environment variable if you want to use python from your terminal!</p>
                </section>
                <section>
                    <p class="longtext">Now, open a terminal and run the following commands. Remember, you can pause this demo at any time and even paste from the demo. However, we recommend typing into the terminal yourselves as that improves muscle-memory.</p>
                </section>
                <section>
                    <asciinema-player 
                        src="{{ url_for('static', filename='asciinema/demo.cast') }}" 
                        cols="200" rows="30" 
                        idle-time-limit="1" 
                        speed="1.5" 
                        font-size="12px">
                    </asciinema-player>
                    <p class="fragment fade-up">Voila! That's how you launch Python!</p>
                </section>
            </section>
            <section><p>Hello, World!</p></section>
            <section>
                <p>Basics</p>
            </section>
            <section>
                <p>The Zen of Python</p>
            </section>
            <section>Tools</section>
            <section>Modules</section>
            <section>Interesting Examples</section>
            <section>Living with Python</section>
        </div>
    </div>
    <!--  -->
    <script src="{{ url_for('static', filename='libs/asciinema/asciinema-player.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/reveal.js/js/reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/vue.js-2.5.13/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/buefy/buefy.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/axios/axios.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/lodash/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    
</body>
</html>